/*var */

:root {
  --basic-black: #000000;
  --basic-extra-black: #283136;
  --basic-extra-dark: #444444;
  --basic-red: #FB565A;
  --basic-extra-red: #E74246;
  --basic-white-back: #eeeeee;
  --basic-green: #00CA74;
  --basic-extra-green: #00BC6C;
  --basic-yellow: #EFC849;
  --basic-extra-yellow: #EAB534;
  --basik-white: #ffffff;
  --basik-grey: #DBDBDB;
}

/* font */

@font-face {
  font-family: "Roboto"; 
  src: url(../fonts/roboto.woff2) format('woff2'),
       url(../fonts/roboto.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format('woff2'),
  url(../fonts/robotobold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

/* global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: var(--basic-extra-black);
  background: var(--basik-white);
  font-style: normal;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  margin-bottom: 70px;
  padding-top: 49px;
  padding-left: 140px;
}

.main-navigation{
  margin-bottom: 87px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.navigation-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px; 
}

.main-header-bar {
  background-color: var(--basik-white);
  align-self: end;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.services {
  margin-bottom: 80px;
}  

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.service-item p {
  margin: 0 10px;
}

.index-columns {
  display: grid;
  column-gap: 150px;
  grid-template-columns: 1fr 1fr;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 90px;
}

.main-navigation,
.basket {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  display: flex;
}

.site-navigation,
.service-list,
.order-list,
.numbers,
.partners-list,
.contacts,
.sort-filter,
.projects,
.nav-num {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  /* padding-left: 203px; */
  display: flex;
  align-items: center;
  width: min-content;
  margin: 0;
}

.site-navigation li{
  flex-direction: row-reverse;
  padding-right: 25px;
}

.site-navigation a {
  color: var(--basic-black);
}

.user-navigation{
  padding-left: 246px;
}

.basket,
.basket-title {
  display: flex;
} 

.basket-title{
  margin: 0px 25px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket:hover,
.basket:focus {
  color: var(--basic-red);
}

.service-item {
  text-align: center;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.order-link-1,
.order-link-2,
.order-link-3 {
  border-radius: 3px;
  padding: 16px 40px; 
  display: inline-block;
  background-color: var(--basic-red);
  color: var(--basik-white);
  text-align: center;
  text-transform: uppercase;
}

.order-link-2 {
  background-color: var(--basic-green);
}

.order-link-3 {
  background-color: var(--basic-yellow);
}

.order-link-1:hover,
.order-link-1:focus {
  background-color:  var(--basic-extra-red);
}

.order-link-2:hover,
.order-link-2:focus {
  background-color: var(--basic-extra-green);
}

.order-link-3:hover,
.order-link-3:focus {
  background-color: var(--basic-extra-yellow);
}

.description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.order {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.order-list li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin: 0 11px 4px -37px;
 }

.numbers{
  display: flex;
} 

.number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
 }

.number sup {
  font-size: 26px;
  line-height: 40px;
 }

 /* .svg-vk path{ fill: red; } */
 /* Как менять цвет СВГ при наведении? */
 /* .contacts-item:hover */
 /* .contacts-item:focus */
 /* {
  stroke: background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
  fill: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
 } */

 /* page 2 catalog */

.sort, 
.sort-filter{
  display: flex;
  align-items: center;
}

.sort-filter{
  padding-left: 266px;
}

.sort-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
} 

.sort-item{
  padding-right: 25px;
}

.sort-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort-item:nth-child(2),
.sort-item:nth-child(3) {
  opacity: 0.3;
}

/* временно пока не заверстаю форму с сортировкой */
.catalog-container{
  margin-left: 541px;
}

.projects{
  display: flex;
  flex-wrap: wrap;
}

.project-item{
  width: 360px;
  min-height: 619px;
  margin-right: 42px;
  margin-bottom: 31px;
}

.nav-num{
  display: flex;
}

.nav-num-item {
  font-weight: 500;
  font-size: 16px;
  background-color: var(--basic-white-back);
  color: var(--basic-black);
  text-align: center;
  line-height: 50px; 
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.nav-num-item:nth-child(1) {
  background-color: var(--basik-white);
  width: 44px;
  height: 44px;
  border-radius: 3px;
  border: 3px solid var(--basik-grey);
}

.nav-num-item:nth-child(4) {
  width: 260px;
}

.nav-num-item a {
  color: var(--basic-black);
}

.footer-discount {
  text-align: left; 
}

.main-footer{
  padding: 40px 0;
  margin-top: 65px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.contacts{
  display: flex;
  width: 260px;
  justify-self: start;
  padding-right: 139px;
}

.contacts-item{
  height: 81px;
  width: 81px;
  padding-right: 9px;
}

.footer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
 }

.footer-text {
  color: var(--basic-extra-dark);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
 }